# Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np 
import requests
import xlsxwriter
import math
import sys

# Importing the list of stocks
### Stocks can be taken from a free API, in this use case, I just used a CSV taken from this <a href = "https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view">link</a>

In [2]:
stocks = pd.read_csv('../sp_500_stocks.csv')
type(stocks)
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

# Taking the IEX Cloud API 

Importing IEX Cloud API token to import financial data to retrieve stock quotes, finanacial statements, news articles and other financial data

Link to the API could be found <a href = "https://algotrading101.com/learn/iex-api-guide/">here</a>

In [3]:
sys.path.append('../')
from admin import IEX_CLOUD_API_TOKEN
IEX_CLOUD_API_TOKEN

'pk_a51cc202813744298030aa99a68626d9'

### First API call
Looking for
- Market Capitalization of a stock given a ticker
- Price of a stock given a ticker
- Symbol of a stock

In [4]:
ticker = 'AAPL' # Apple ticker symbol
api_url = f' https://api.iex.cloud/v1/data/core/quote/{ticker}?token={IEX_CLOUD_API_TOKEN}'
results = requests.get(api_url).json()
type(results)

list

### Parsing the API call to collect the data needed

In [5]:
market_cap = results[0]['marketCap']
stock_price = results[0]['latestPrice']
symbol = results[0]['symbol']

print(symbol)
print(market_cap)
print(stock_price)

AAPL
2594236008000
168

### Placing a stock with its respective values into a pandas data frame

Create columns for a new dataframe to return

In [18]:
cols = ['Ticker', "Stock Price", "Market Capitalization", 'Shares to Purchase']
fin_df = pd.DataFrame(columns=cols)
fin_df

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Shares to Purchase]
Index: []

##### Tester code for syntax

In [16]:
fin_df.loc[len(fin_df.index)] = [symbol, stock_price, market_cap, 'N/A']
fin_df

# Looping through the stock list created earlier and appending the respective values

The free version of the API only allows for 5 API calls a seconds meaning that this process will take a while with addition to the run time of HTTP requests

(9m 1.7s)

In [24]:
fin_df = pd.DataFrame(columns=cols)
for stock in stocks['Ticker']:
    ticker = stock
    api_call = f' https://api.iex.cloud/v1/data/core/quote/{ticker}?token={IEX_CLOUD_API_TOKEN}'

    results = requests.get(api_call).json()

    market_cap = results[0]['marketCap']
    stock_price = results[0]['latestPrice']
    symbol = results[0]['symbol']
    fin_df.loc[len(fin_df.index)] = [symbol, stock_price, market_cap, 'N/A']
fin_df

    Ticker  Stock Price Market Capitalization Shares to Purchase
0        A     134.5500           39430588462                N/A
1      AAL      13.8900            9094572174                N/A
2      AAP      74.0500            4414081328                N/A
3     AAPL     168.0000         2594236008000                N/A
4     ABBV     164.2500          290828766958                N/A
..     ...          ...                   ...                ...
500    YUM     137.8300           38799145000                N/A
501    ZBH     121.3000           24922474006                N/A
502   ZBRA     276.1400           14192914210                N/A
503   ZION      39.3600            5809497427                N/A
504    ZTS     151.5146           69296631547                N/A

[505 rows x 4 columns]

### Process Optimization Using Batch Calls