# Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np 
import requests
import xlsxwriter
import math
import sys

# Importing the list of stocks
### Stocks can be taken from a free API, in this use case, I just used a CSV taken from this <a href = "https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view">link</a>

In [2]:
stocks = pd.read_csv('../sp_500_stocks.csv')
type(stocks)
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

# Taking the IEX Cloud API 

Importing IEX Cloud API token to import financial data to retrieve stock quotes, finanacial statements, news articles and other financial data

Link to the API could be found <a href = "https://algotrading101.com/learn/iex-api-guide/">here</a>

In [ ]:
sys.path.append('../')
from admin import IEX_CLOUD_API_TOKEN

### First API call
Looking for
- Market Capitalization of a stock given a ticker
- Price of a stock given a ticker
- Symbol of a stock

In [4]:
ticker = 'AAPL' # Apple ticker symbol
api_url = f' https://api.iex.cloud/v1/data/core/quote/{ticker}?token={IEX_CLOUD_API_TOKEN}'
results = requests.get(api_url).json()
type(results)

list

### Parsing the API call to collect the data needed

In [5]:
market_cap = results[0]['marketCap']
stock_price = results[0]['latestPrice']
symbol = results[0]['symbol']

print(symbol)
print(market_cap)
print(stock_price)

AAPL
2594236008000
168

### Placing a stock with its respective values into a pandas data frame

Create columns for a new dataframe to return

In [9]:
cols = ['Ticker',"Company Name","Stock Price", "Market Capitalization", 'Shares to Purchase']
fin_df = pd.DataFrame(columns=cols)
fin_df

Empty DataFrame
Columns: [Ticker, Company Name, Stock Price, Market Capitalization, Shares to Purchase]
Index: []

##### Tester code for syntax

In [16]:
fin_df.loc[len(fin_df.index)] = [symbol, stock_price, market_cap, 'N/A']
fin_df

# Looping through the stock list created earlier and appending the respective values

The free version of the API only allows for 5 API calls a seconds meaning that this process will take a while with addition to the run time of HTTP requests

(9m 1.7s)

In [24]:
fin_df = pd.DataFrame(columns=cols)
for stock in stocks['Ticker']:
    ticker = stock
    api_call = f' https://api.iex.cloud/v1/data/core/quote/{ticker}?token={IEX_CLOUD_API_TOKEN}'

    results = requests.get(api_call).json()

    market_cap = results[0]['marketCap']
    stock_price = results[0]['latestPrice']
    symbol = results[0]['symbol']
    fin_df.loc[len(fin_df.index)] = [symbol, stock_price, market_cap, 'N/A']
fin_df

    Ticker  Stock Price Market Capitalization Shares to Purchase
0        A     134.5500           39430588462                N/A
1      AAL      13.8900            9094572174                N/A
2      AAP      74.0500            4414081328                N/A
3     AAPL     168.0000         2594236008000                N/A
4     ABBV     164.2500          290828766958                N/A
..     ...          ...                   ...                ...
500    YUM     137.8300           38799145000                N/A
501    ZBH     121.3000           24922474006                N/A
502   ZBRA     276.1400           14192914210                N/A
503   ZION      39.3600            5809497427                N/A
504    ZTS     151.5146           69296631547                N/A

[505 rows x 4 columns]

### Process Optimization Using Batch API Calls
Instad of making len(stocks) requests, a batch call is uses to divide the values inside stocks into 6 groups; as such only 6 requests are used. The batch API call cuts the process down to 15.4 seconds

In [6]:
# Taken from Stack Overflow to break a list into n-sized chunks
def chunks (lst, n):
    for i in range (0, len(lst), n):
        yield lst[i:i + n]

In [11]:

fin_df = pd.DataFrame(columns=cols)
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append('.'.join(symbol_groups[i]))

for symbol_string in symbol_strings:
    batch_api_call = f'https://api.iex.cloud/v1/data/core/quote/{symbol_string}?batchSeparator=.&token={IEX_CLOUD_API_TOKEN}'
    results = requests.get(batch_api_call).json()
    for values in results:
        market_cap = values['marketCap']
        stock_price = values['latestPrice']
        symbol = values['symbol']
        companyName = values['companyName']
        fin_df.loc[len(fin_df.index)] = [symbol, companyName, stock_price, market_cap, 'N/A']
fin_df

,Ticker,Company Name,Stock Price,Market Capitalization,Shares to Purchase
0,A,Agilent Technologies Inc.,134.5500,39430588462,N/A
1,AAL,American Airlines Group Inc,13.8900,9094572174,N/A
2,AAP,Advance Auto Parts Inc,74.0500,4414081328,N/A
3,AAPL,Apple Inc,168.0000,2594236008000,N/A
4,ABBV,Abbvie Inc,164.2500,290828766958,N/A
...,...,...,...,...,...
500,YUM,Yum Brands Inc.,137.8300,38799145000,N/A
501,ZBH,Zimmer Biomet Holdings Inc,121.3000,24922474006,N/A
502,ZBRA,Zebra Technologies Corp. - Class A,276.1400,14192914210,N/A
503,ZION,Zions Bancorporation N.A,39.3600,5809497427,N/A
504,ZTS,Zoetis Inc - Class A,151.5146,69296631547,N/A

In [46]:
ticker = 'AAPL.T' # Apple ticker symbol
api_url = f' https://api.iex.cloud/v1/data/core/quote/{ticker}?batchSeparator=.&token={IEX_CLOUD_API_TOKEN}'
results = requests.get(api_url).json()
type(results)
results

[{'avgTotalVolume': 61997647,
  'calculationPrice': 'close',
  'change': -1.38,
  'changePercent': -0.00815,
  'close': None,
  'closeSource': 'official',
  'closeTime': None,
  'companyName': 'Apple Inc',
  'currency': 'USD',
  'delayedPrice': None,
  'delayedPriceTime': None,
  'extendedChange': None,
  'extendedChangePercent': None,
  'extendedPrice': None,
  'extendedPriceTime': None,
  'high': None,
  'highSource': '15 minute delayed price',
  'highTime': 1713383999996,
  'iexAskPrice': 0,
  'iexAskSize': 0,
  'iexBidPrice': 0,
  'iexBidSize': 0,
  'iexClose': 168,
  'iexCloseTime': 1713383998847,
  'iexLastUpdated': 1713383998847,
  'iexMarketPercent': 0.0118942162671575,
  'iexOpen': 169.55,
  'iexOpenTime': 1713360600093,
  'iexRealtimePrice': 168,
  'iexRealtimeSize': 47,
  'iexVolume': 605430,
  'lastTradeTime': 1713383999917,
  'latestPrice': 168,
  'latestSource': 'Close',
  'latestTime': 'April 17, 2024',
  'latestUpdate': 1713384000407,
  'latestVolume': None,
  'low': None,
  'lowSource': '15 minute delayed price',
  'lowTime': 1713383998400,
  'marketCap': 2594236008000,
  'oddLotDelayedPrice': None,
  'oddLotDelayedPriceTime': None,
  'open': None,
  'openTime': None,
  'openSource': 'official',
  'peRatio': 26.17,
  'previousClose': 169.38,
  'previousVolume': 73711235,
  'primaryExchange': 'NASDAQ',
  'symbol': 'AAPL',
  'volume': None,
  'week52High': 199.11,
  'week52Low': 161.3,
  'ytdChange': -0.12614441365218432,
  'isUSMarketOpen': False},
 {'avgTotalVolume': 35689616,
  'calculationPrice': 'close',
  'change': 0.03,
  'changePercent': 0.00186,
  'close': None,
  'closeSource': 'official',
  'closeTime': None,
  'companyName': 'AT&T, Inc.',
  'currency': 'USD',
  'delayedPrice': None,
  'delayedPriceTime': None,
  'extendedChange': None,
  'extendedChangePercent': None,
  'extendedPrice': None,
  'extendedPriceTime': None,
  'high': None,
  'highSource': '15 minute delayed price',
  'highTime': 1713383999988,
  'iexAskPrice': 0,
  'iexAskSize': 0,
  'iexBidPrice': 0,
  'iexBidSize': 0,
  'iexClose': 16.11,
  'iexCloseTime': 1713383998998,
  'iexLastUpdated': 1713383998998,
  'iexMarketPercent': 0.016954893203475534,
  'iexOpen': 16.09,
  'iexOpenTime': 1713360604305,
  'iexRealtimePrice': 16.11,
  'iexRealtimeSize': 800,
  'iexVolume': 460792,
  'lastTradeTime': 1713383999988,
  'latestPrice': 16.12,
  'latestSource': 'Close',
  'latestTime': 'April 17, 2024',
  'latestUpdate': 1713384108161,
  'latestVolume': None,
  'low': None,
  'lowSource': '15 minute delayed price',
  'lowTime': 1713367842670,
  'marketCap': 114935600000,
  'oddLotDelayedPrice': None,
  'oddLotDelayedPriceTime': None,
  'open': None,
  'openTime': None,
  'openSource': 'official',
  'peRatio': 8.22,
  'previousClose': 16.09,
  'previousVolume': 56368796,
  'primaryExchange': 'NEW YORK STOCK EXCHANGE INC.',
  'symbol': 'T',
  'volume': None,
  'week52High': 18.51,
  'week52Low': 12.76,
  'ytdChange': -0.007711881444092156,
  'isUSMarketOpen': False}]

# Calculating the Number of Shares to Buy

Through python, given a portfolio value, the portfolio will evenly split that cash among all the stocks in the dataframe. The number of stocks to buy will be returned on the 'Shares to Purchase' column

In [42]:
isValid = False
while (isValid == False):
    try: 
        portfolio_value = input("Input portfolio value: ")   
        cash_allocation = float(portfolio_value) / (len(fin_df))
        isValid = True
    except:
        print("Invalid Value")

### Evenly allocate the shares to each ticker symbol

In [43]:
index = 0
for item in fin_df.iterrows():
    val = item[1].array
    shares = cash_allocation/val[2]
    fin_df.loc[fin_df.index == index, 'Shares to Purchase'] = shares
    index += 1
fin_df

,Ticker,Company Name,Stock Price,Market Capitalization,Shares to Purchase
0,A,Agilent Technologies Inc.,134.5500,39430588462,14.717191
1,AAL,American Airlines Group Inc,13.8900,9094572174,142.562852
2,AAP,Advance Auto Parts Inc,74.0500,4414081328,26.741364
3,AAPL,Apple Inc,168.0000,2594236008000,11.786893
4,ABBV,Abbvie Inc,164.2500,290828766958,12.056
...,...,...,...,...,...
500,YUM,Yum Brands Inc.,137.8300,38799145000,14.366959
501,ZBH,Zimmer Biomet Holdings Inc,121.3000,24922474006,16.324798
502,ZBRA,Zebra Technologies Corp. - Class A,276.1400,14192914210,7.170993
503,ZION,Zions Bancorporation N.A,39.3600,5809497427,50.309909
504,ZTS,Zoetis Inc - Class A,151.5146,69296631547,13.069355